* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}
/*Header First*/

.header-first{
    background-color: black;
    padding: 8px 0;
    .row{
        .welcome-left{
            .welcome-edulearn{
                i{
                    color:red;
                    margin-right: 3px;
                }
                span{
                    color:white;
                    font-size: 14px;
                }
            }
        }
        .welcome-right{
            display: flex;
            justify-content: flex-end;
            a{
                color:red;
                font-size: 14px;
                transition: 0.3s all;
                &:hover{
                    color:rgb(160, 7, 7);
                }
            }
            
            .welcome-icons{
                margin-right: 15px;
                
                ul{
                    display: flex;
                    li{
                        list-style: none;
                        padding-right: 10px;
                        font-size: 14px;
                        a{
                            color:gray;
                            transition: 0.3s all;
                            &:hover{
                                color:white;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
/*Header Second*/

.header-second{
    padding: 25px 0 20px;
    .header-mail{
        .envelope{
            display: flex;
            i{
                color:red;
                font-size: 35px;
                line-height: 40px;
                text-align: center;
                padding-right: 15px;
                padding-left: 15px;
            }
            a{
                color:#505050;
                span{
                    display: inline-block;
                    color:black;
                    font-weight: 700;
                    padding-bottom: 4px;
                }
            }
        }
    }
    .header-image{
        text-align: center;
    }
    .header-call-us{
        display: flex;
        justify-content: flex-end;
        .call-us{
            display: flex;
            i{
                color:red;
                font-size: 35px;
                line-height: 40px;
                text-align: center;
                padding-right: 15px;
                padding-left: 15px;
            }
            .call-number{
                a{
                    color:#505050;
                    span{
                    display: inline-block;
                    color:black;
                    font-weight: 700;
                    padding-bottom: 4px;
                    }
                }
            }
        }
    }
}

/*Header Third*/

.header-third{
    background-color: #212121;
    .container{
        .row{
            .col-md-12{
                .header-menu{
                    display:flex;
                    justify-content: space-between;
                    .nav-list{
                        ul{
                            display: flex;
                            li{
                                list-style: none;
                                margin-right: 40px;
                                .nav-home{
                                    color:red;
                                }
                                
                                a{
                                color:#bbbbbb;
                                font-size: 16px;
                                line-height: 55px;
                                font-weight: 500;
                                &:hover{
                                    color:red;
                                }
                                }
                            }
                        }
                    }
                    .right-menu-bar{
                        display: flex;
                        align-items: center;
                        a{
                            padding:18px 15px;
                            i{
                                color:white;
                            }
                        }
                        .search-icon{
                            background-color:#FF3115;
                        }
                        .menu-icon{
                            background-color: rgb(211, 32, 32);
                            i{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Section Are You Ready*/
.welcome-carousel{
    .slide{
        position: relative;
    }
    .slide-section-first{
    position: absolute;
    top: 211px;
    left: 414px;
    width: 100%;
    h1{
        color:white;
        font-size: 50px;
        margin-bottom: 15px;
    }
    p{
        color:white;
        font-size: 18px;
    }
    }
    .slide-section-second{
        position: absolute;
        top: 211px;
        left: 414px;
        width: 100%;
        h1{
            color:white;
            font-size: 50px;
            margin-bottom: 15px;
        }
        p{
            color:white;
            font-size: 18px;
        }
        }
}
/*Slide From Left*/
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
/*Section Trending Courses*/
.trending-courses{
    text-align: center;
    margin-top: 6px;
    .container{
        .row{
            .col-md-6{
                .trending , .books , .teachers , .certification{
                    background-color: #212121;
                    padding: 25px 17px 17px;
                    box-shadow: 0 4px 2px -2px #000000;
                    z-index: 111;
                    position: relative;
                    top: -30px;
                    transition: all 0.3s ease 0s;

                    &:hover, &:hover .courses-icon{
                        background-color: #FF3115;
                        color:white;
                    }
                    }
                }
            }
        }
    
    .courses-icon , .books-icon , .teachers-icon , .certification-icon{
    height: 130px;
    width: 130px;
    background-color: #212121;
    line-height: 88px;
    text-align: center;
    position: absolute;
    top: -50px;
    z-index: -1;
    font-size: 40px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ff3115;
    transition: all 0.3s ease 0s;
    }
    .courses-text , .books-text , .teachers-text , .certification-text{
        text-align: center;
        margin-top: 6px;
        h4{
            position: relative;
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 7px;
        z-index: 10;
        }
        p{
            color: #cccccc;
            margin-bottom: 0;
        }
    }
}
/*Section About Us*/



